@model RecipeBizObjects.bizRecipe

@{
    ViewBag.Title = "Delete";
}

<h1>Delete</h1>

@*@if (string.IsNullOrEmpty(errormessage) == false)
{
    <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
}
else
{*@
    <h3 class="text-danger">Are you sure you want to delete @Model.RecipeName?</h3>
@*}*@
<div>
    <hr />
    

    <form asp-action="Delete">
        @Html.HiddenFor(model => model.RecipeId)
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a> |
         @Html.ActionLink("Back to Recipe", "Recipe", new { id = Model.Code  } ,new{Class = "btn btn-outline-primary"}) 
    </form>
</div>
