@{
    ViewBag.Title = "API";
}
<div class="row">
    <ul class="list-group">
      <li class="list-group-item">
          <a href="/Cuisine/APICuisineList">Cuisine</a>
      </li>
        <li class="list-group-item">
          <a href="/Recipe/APIRecipeListJS">Recipes</a>
      </li>
    </ul>
</div>